<!DOCTYPE html>
<html>
  <head>
    <title>RoofTrace Report</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "report", media: "all" %>
  </head>
  <body class="report-root">
    <%= yield %>
  </body>
</html>
